<div class="purchase-home">
  <h2>Purchase Management</h2>

  <div class="card-grid">
    <mat-card class="action-card" routerLink="/app/purchase/add">
      <div class="icon">
        <img
          src="assets/plus.png"
          alt="add"
          style="width: 20px; height: 20px"
        />
      </div>
      <h3>Add Purchase</h3>
      <p>Add stock into inventory</p>
    </mat-card>

    <mat-card class="action-card" routerLink="/app/purchase/view">
      <div class="icon">
        <img
          src="assets/list.png"
          alt="add"
          style="width: 20px; height: 20px"
        />
      </div>
      <h3>View Purchases</h3>
      <p>See recent purchase history</p>
    </mat-card>
  </div>
</div>
