<div class="purchase-home">
  <h2>Item Management</h2>

  <div class="card-grid">
    <mat-card class="action-card" routerLink="/app/items/add">
      <div class="icon">
        <img
          src="assets/plus.png"
          alt="add"
          style="width: 20px; height: 20px"
        />
      </div>
      <h3>Add Items</h3>
      <p>Add new items</p>
    </mat-card>

    <mat-card class="action-card" routerLink="/app/items/view">
      <div class="icon">
        <img
          src="assets/list.png"
          alt="add"
          style="width: 20px; height: 20px"
        />
      </div>
      <h3>Items List</h3>
      <p>See list of items</p>
    </mat-card>
  </div>
</div>
