<div class="purchase-home">
  <h2>Usage Insights</h2>

  <div class="card-grid">
    <mat-card class="action-card" routerLink="/app/metrics/total-usage">
      <div class="icon">
        <mat-icon>insights</mat-icon>
      </div>
      <h3>Total Usage Insights</h3>
      <p>Track daily, weekly & monthly consumption</p>
    </mat-card>

    <mat-card class="action-card" routerLink="/app/metrics/dept-usage">
      <div class="icon">
        <mat-icon>groups</mat-icon>
      </div>
      <h3>Department Usage Insights</h3>
      <p>Analyze usage by departments</p>
    </mat-card>
  </div>
</div>
