.usage-view {
    background: white;
    padding: 24px;
    border-radius: 12px;
}

/* FILTER */
.filter-bar {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

mat-form-field {
    width: 220px;
}

table {
    width: 100%;
}