<div class="usage-home">
  <h2>Usage Management</h2>

  <div class="card-grid">
    <!-- ADD USAGE -->
    <mat-card class="action-card" routerLink="/app/usage/add">
      <div class="icon">
        <img
          src="assets/minus-sign.png"
          alt="add"
          style="width: 20px; height: 20px"
        />
      </div>
      <h3>Add Usage</h3>
      <p>Record stock usage</p>
    </mat-card>

    <!-- VIEW USAGE -->
    <mat-card class="action-card" routerLink="/app/usage/view">
      <div class="icon">
        <img
          src="assets/list.png"
          alt="add"
          style="width: 20px; height: 20px"
        />
      </div>
      <h3>View Usage</h3>
      <p>See usage history</p>
    </mat-card>
  </div>
</div>
