<div class="topbar">
  <!-- LEFT -->
  <div class="left">
    <button class="menu-btn" (click)="menuClick()">☰</button>
    <span class="title">The Airawat Kitchen</span>
  </div>

  <!-- RIGHT -->
  <div class="right">
    <div class="profile">
      <span class="avatar"
        ><img
          src="assets/user.png"
          alt="Logo"
          style="width: 20px; height: 20px"
      /></span>
      <span class="name">Admin</span>
    </div>

    <button class="logout-btn" (click)="logout()">Logout</button>
  </div>
</div>
